[init]
	defaultBranch = main
[commit]
	gpgsign = true
[user]
	email = mail@robertvansteen.nl
	name = Robert van Steen
[pull]
	rebase = true
[core]
	excludesFile = ~/.gitignore
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
[merge]
	conflictstyle = zdiff3
[diff]
	colorMoved = default
